<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" routerLink="/">
            <img src="logo.png" alt="Logo Cervejaria" style="display:block!important;opacity:1!important;visibility:visible!important;max-height:none!important;width:auto!important;">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
                            Home
                        </a>
                    </li>
                    
                    <li class="nav-item" *ngIf="isAdmin()">
                        <a class="nav-link" routerLink="/products/new" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Cadastrar Produto
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Loja
                        </a>
                    </li>
                    
                    <li class="nav-item" *ngIf="isAdmin()">
                        <a class="nav-link" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Listar usuários
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="!isLoggedIn()">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Login
                        </a>
                    </li>
                    
                    <li class="nav-item" *ngIf="!isLoggedIn()">
                        <a class="nav-link" routerLink="/users/new" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Criar Conta
                        </a>
                    </li>
                    
                    <li class="nav-item" *ngIf="isLoggedIn()">
                        <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">
                            <i class="fa fa-sign-out-alt"></i> Sair
                        </a>
                    </li>
    
                </ul>
            </div>
            
            <div class="navbar align-self-center d-flex">
                
                <a class="nav-icon position-relative text-decoration-none" routerLink="/cart">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
                        {{ cartItemCount }}
                    </span>
                </a>

                <a class="nav-icon position-relative text-decoration-none" routerLink="/users/new">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                </a>
                
            </div>
        </div>

    </div>
</nav>