<div class="login-container">
    <h2>🔑 Acesso Restrito</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="username">Nome de Usuário:</label>
            <input id="username" type="text" formControlName="username">
            <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                <small style="color: red;">O nome de usuário é obrigatório.</small>
            </div>
        </div>

        <div>
            <label for="password">Senha:</label>
            <input id="password" type="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small style="color: red;">A senha é obrigatória.</small>
            </div>
        </div>
        
        <div *ngIf="loginError" class="error-message">
            <small style="color: red;">{{ loginError }}</small>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">
            Entrar
        </button>

    </form>
</div>