/* You can add global styles to this file, and also import other style files */
@import './styles/variables.css';

body, ul, li, p, a, label, input, div {
    font-family: var(--font-family);
    font-size: var(--font-size-base) !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: var(--font-family);
    font-size: var(--font-size-lg) !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-family: var(--font-family);
    font-size: var(--font-size-md) !important;
    font-weight: 300;
  }
  .h3 {
    font-family: var(--font-family);
    font-size: var(--font-size-sm) !important;
  }
  /* General */
  .logo { font-weight: 500 !important;}
  .text-warning {  color: var(--warning-color) !important;}
  .text-muted { color: var(--muted-color) !important;}
  .text-success { color: var(--success-color) !important;}
  .text-light { color: var(--light-color) !important;}
  .bg-dark { background-color: var(--dark-color) !important;}
  .bg-light { background-color: var(--light-color) !important;}
  .bg-black { background-color: var(--dark-color) !important;}
  .bg-success { background-color: var(--success-color) !important;}
  .btn-success {
    background-color: var(--success-color) !important;
    border-color: var(--secondary-color) !important;
  }
  .pagination .page-link:hover {color: var(--dark-color);}
  .pagination .page-link:hover, .pagination .page-link.active {
    background-color: var(--secondary-color);
    color: #fff;
  }
  /* Nav */
  #templatemo_nav_top { min-height: 40px;}
  #templatemo_nav_top * { font-size: 12px !important;}
  #templatemo_main_nav a { color: var(--dark-color);}
  #templatemo_main_nav a:hover { color: var(--secondary-color);}
  #templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
  
  /* Hero Carousel */
  #template-mo-jassa-hero-carousel { background: var(--light-color) !important;}
  /* Accordion */
  .templatemo-accordion a { color: var(--dark-color);}
  .templatemo-accordion a:hover { color: var(--dark-color);}
  /* Shop */
  .shop-top-menu a:hover { color: var(--secondary-color) !important;}
  /* Product */
  .product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
  .product-wap .product-color-dot.color-dot-red { background:#f71515;}
  .product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
  .product-wap .product-color-dot.color-dot-black { background:#000000;}
  .product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
  .product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
  .card.product-wap .card .product-overlay {
    background: rgba(0,0,0,.2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }
  .card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
  }
  .card.product-wap a { color: var(--dark-color);}
  #carousel-related-product .slick-slide:focus { outline: none !important;}
  #carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
  }
  /* Brand */
  .brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
  }
  .brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  /* Carousel Hero */
  #template-mo-jassa-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: var(--primary-color);
  }
  #template-mo-jassa-hero-carousel .carousel-control-next i,
  #template-mo-jassa-hero-carousel .carousel-control-prev i {
    color: var(--primary-color) !important;
    font-size: 2.8em !important;
  }
  /* Carousel Brand */
  .tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: var(--dark-color) !important;
  }
  /* Services */
  .services-icon-wap {transition: .3s;}
  .services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
  .services-icon-wap:hover {background: var(--secondary-color);}
  /* Contact map */
  .leaflet-control a, .leaflet-control { font-size: 10px !important;}
  .form-control { border: 1px solid #e8e8e8;}
  /* Footer */
  #tempaltemo_footer a { color: var(--light-color);}
  #tempaltemo_footer a:hover { color: var(--secondary-color);}
  #tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
  #tempaltemo_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }
  #tempaltemo_footer ul.footer-icons li:hover {
    background-color: var(--light-color);
    transition: .5s;
  }
  #tempaltemo_footer ul.footer-icons li:hover i {
    color: var(--dark-color);
    transition: .5s;
  }
  #tempaltemo_footer .border-light { border-color: #2d343f !important;}
  /*
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  */
  /* Small devices (landscape phones, 576px and up)*/
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
    font-size: 12px !important;
  }
  .product-wap .product-color-dot {
    width: 6px;
    height: 6px;
  }
  
  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 { font-size: 1em !important;}
  }
  
  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-jassa-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {}